.container {
  min-height: 25.6rem;
  /*padding: 200px 0;*/
  box-sizing: border-box;
  width: 100%;
  background: #F0F4F3;
  padding: 0;
  font-size: 0.42667rem;
  color: #000;
}

.container.withtab {
  margin: 2.24rem 0 0 0;
}

.feed-item {
  width: 14.72rem;
  padding: 0.64rem 0.64rem 0.42667rem;
  margin: 0.14933rem 0 0.128rem 0;
  background: #ffffff;
  border-top: 0.02133rem solid #eee;
  border-bottom: 0.02133rem solid #eee;
  box-shadow: 0 0.04267rem 0.10667rem #eeeeee;
}

.feed-item .answer-name {
  padding-left: 0.21333rem;
  font-size: 0.512rem;
}

.feed-item .feed-content {
  padding: 0.21333rem 0 0 0;
}

.feed-item .feed-content .question text,
.feed-item .feed-content .question span {
  font-size: 0.59733rem;
  font-weight: 12.8rem;
  line-height: 0.85333rem;
}

.feed-item .feed-content .answer-body {
  padding: 0.21333rem 0 0 0;
  font-size: 0.512rem;
  line-height: 0.59733rem;
  color: #5b5b5b;
}

.feed-item .feed-content .answer-actions {
  width: 14.72rem;
  padding: 0.21333rem 0  0;
  color: #a0acac;
}

.feed-item .feed-content .answer-actions view,
.feed-item .feed-content .answer-actions div,
.feed-item .feed-content .answer-actions span {
  display: inline-block;
  vertical-align: text-bottom;
  padding: 0 0.21333rem 0 0;
  font-size: 0.512rem;
}

.feed-item .feed-source {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 1.06667rem;
}

.feed-item .feed-source .feed-source-txt {
  display: inline-block;
  height: 0.96rem;
  line-height: 0.96rem;
  vertical-align: middle;
  margin: 0 0 0 0.32rem;
  color: #a0acac;
  font-size: 0.55467rem;
}

.feed-item .feed-source .flex1 {
  -webkit-flex: 1;
          flex: 1;
}

.feed-item .feed-source .flex8 {
  -webkit-flex: 8;
          flex: 8;
}

.feed-item .feed-source .item-more {
  display: inline-block;
  width: 0.85333rem;
  height: 0.96rem;
  text-align: right;
}

.feed-item .feed-source .avatar {
  position: relative;
  display: inline-block;
}

.feed-item .feed-source .avatar image,
.feed-item .feed-source .avatar img {
  display: inline-block;
  width: 0.96rem;
  height: 0.96rem;
  border-radius: 0.96rem;
  top: 0.21333rem;
  vertical-align: middle;
}

.flex-wrp {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.flex-tab {
  -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-align-items: stretch;
          align-items: stretch;
}

.flex-item {
  -webkit-flex-grow: 1;
          flex-grow: 1;
  text-align: center;
}

.top-tab {
  width: 16rem;
  height: 2.13333rem;
  background: #298DE5;
  color: #8CCEFD;
  font-size: 0.59733rem;
  line-height: 2.13333rem;
  box-shadow: 0 0.04267rem 0.04267rem #bebebe;
  margin: 0 0 0.17067rem 0;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.top-tab.active {
  color: #ffffff;
  border-bottom: solid 0.04267rem #ffffff;
}

.txcenter {
  font-size: 0.59733rem;
  padding: 0.42667rem;
  text-align: center;
}

.taro-img {
  width: auto !important;
  height: auto !important;
}
.search {
  width: 100%;
  height: 1.49333rem;
  padding: 0.26667rem 0 0.26667rem 0.32rem;
  background: #2A8CE5;
}

.search .search-left {
  height: 1.38667rem;
  -webkit-flex: 8;
          flex: 8;
  background: #4EA3E7;
  text-align: left;
}

.search .search-left image,
.search .search-left img {
  display: inline-block;
  width: 0.74667rem;
  height: 0.74667rem;
  padding: 0.32rem 0.32rem 0.32rem 0.42667rem;
}

.search .search-left .flex1 {
  -webkit-flex-grow: 1;
          flex-grow: 1;
  text-align: left;
}

.search .search-left .flex6 {
  -webkit-flex-grow: 6;
          flex-grow: 6;
  text-align: left;
}

.search .search-left input {
  display: inline-block;
  height: 1.38667rem;
  font-size: 0.55467rem;
}

.search .search-right {
  -webkit-flex: 1;
          flex: 1;
  height: 1.38667rem;
}

.search .search-right image,
.search .search-right img {
  width: 0.96rem;
  height: 0.96rem;
  padding: 0.21333rem;
}

.search-placeholder {
  color: #8CCEFD;
  line-height: 0.42667rem;
}
.feed-item {
  width: 14.72rem;
  padding: 0.64rem 0.64rem 0.42667rem;
  margin: 0.14933rem 0 0.128rem 0;
  background: #ffffff;
  border-top: 0.02133rem solid #eee;
  border-bottom: 0.02133rem solid #eee;
  box-shadow: 0 0.04267rem 0.10667rem #eeeeee;
}

.feed-item .feed-content {
  padding: 0.21333rem 0 0 0;
}

.feed-item .feed-content .question text,
.feed-item .feed-content .question span {
  font-size: 0.59733rem;
  font-weight: 12.8rem;
  line-height: 0.85333rem;
}

.feed-item .feed-content .answer-body {
  padding: 0.21333rem 0 0 0;
  font-size: 0.512rem;
  line-height: 0.59733rem;
  color: #5b5b5b;
}

.feed-item .feed-content .answer-actions {
  width: 14.72rem;
  padding: 0.21333rem 0  0;
  color: #a0acac;
}

.feed-item .feed-content .answer-actions view,
.feed-item .feed-content .answer-actions div,
.feed-item .feed-content .answer-actions span {
  display: inline-block;
  vertical-align: text-bottom;
  padding: 0 0.21333rem 0 0;
  font-size: 0.512rem;
}

.feed-item .feed-source {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 1.06667rem;
}

.feed-item .feed-source .feed-source-txt {
  display: inline-block;
  height: 0.96rem;
  line-height: 0.96rem;
  vertical-align: middle;
  margin: 0 0 0 0.32rem;
  color: #a0acac;
  font-size: 0.55467rem;
}

.feed-item .feed-source .flex1 {
  -webkit-flex: 1;
          flex: 1;
}

.feed-item .feed-source .flex8 {
  -webkit-flex: 8;
          flex: 8;
}

.feed-item .feed-source .item-more {
  display: inline-block;
  width: 0.85333rem;
  height: 0.96rem;
  text-align: right;
}

.feed-item .feed-source .avatar {
  position: relative;
  display: inline-block;
}

.feed-item .feed-source .avatar_img {
  display: inline-block;
  width: 0.96rem;
  height: 0.96rem;
  border-radius: 0.96rem;
  top: 0.21333rem;
  vertical-align: middle;
}
.container {
  height: 32rem;
}

.top-tab {
  width: 16rem;
  height: 2.13333rem;
  background: #298DE5;
  color: #8CCEFD;
  font-size: 0.59733rem;
  line-height: 2.13333rem;
  box-shadow: 0 0.04267rem 0.04267rem #bebebe;
  margin: 0 0 0.17067rem 0;
  z-index: 9999;
}

.top-tab .active {
  color: #ffffff;
  border-bottom: solid 0.04267rem #ffffff;
}

.activity {
  width: 16rem;
  height: 8rem;
}

.activity image,
.activity img {
  width: 16rem;
  height: 8.53333rem;
}

.placehold {
  font-size: 0.59733rem;
  padding: 1.70667rem 0;
}
.user {
  width: 15.46667rem;
  background: #ffffff;
  padding: 0.64rem 0.53333rem 0.64rem 0;
  margin: 15rpx 0 0 0;
  border-top: 0.02133rem solid #eee;
  border-bottom: 0.02133rem solid #dcdcdc;
  box-shadow: 0 0.04267rem 0.10667rem #eeeeee;
}

.user .userinfo-avatar {
  -webkit-flex: 1;
          flex: 1;
  display: inline-block;
  width: 2.13333rem !important;
  height: 2.13333rem !important;
  border-radius: 1.70667rem;
}

.user .user-info {
  -webkit-flex: 5;
          flex: 5;
  text-align: left;
}

.user .user-info text,
.user .user-info div,
.user .user-info span {
  display: block;
}

.user .user-info .userinfo-nickname {
  padding: 0.17067rem 0 0.21333rem 0;
  font-size: 0.64rem;
  color: #818A8F;
}

.user .user-info .edit {
  font-size: 0.64rem;
  color: #bababa;
  line-height: 0.72533rem;
}

.my {
  margin: 0.32rem 0 0 0;
  border-top: solid 0.02133rem #ebebeb;
  border-bottom: solid 0.04267rem #ebebeb;
}

.my .my-item {
  display: -webkit-flex;
  display: flex;
  width: 16rem;
  background: #ffffff;
  padding: 0;
}

.my .my-item .myitem-icon {
  -webkit-flex: 1;
          flex: 1;
  vertical-align: middle;
}

.my .my-item .myitem-icon .myitem-img,
.my .my-item .myitem-icon image,
.my .my-item .myitem-icon img {
  width: 0.85333rem;
  height: 0.85333rem;
  margin-left: 0.34133rem;
  margin-right: 0.34133rem;
}

.my .my-item .myitem-name {
  -webkit-flex: 5;
          flex: 5;
  text-align: left;
  font-size: 0.72533rem;
  color: #6d6d6d;
  line-height: 1.28rem;
  padding: 0.64rem 0;
  border-bottom: solid 0.02133rem #ebebeb;
}

.my .my-item:last-child .myitem-name {
  border-bottom: none;
}
.answer_container {
  padding: 0;
  min-height: 10.66667rem;
  font-size: 0.29867rem;
  background: #F0F4F3;
  color: #000;
}

.question {
  position: relative;
  width: 13.86667rem;
  padding: 0.85333rem 1.06667rem 0.64rem;
  background: #298DE5;
  color: #fff;
  font-size: 0.81067rem;
  line-height: 1.024rem;
}

.answerer-wrp {
  position: relative;
  width: 16rem;
  height: 3.2rem;
  background: #fff;
}

.answerer-wrp .bg-half {
  position: absolute;
  top: 0;
  width: 16rem;
  height: 1.6rem;
  background: #298DE5;
}

.answerer-wrp
.answerer {
  position: relative;
  margin: 0 auto;
  width: 13.44rem;
  height: 1.92rem;
  padding: 0.64rem;
  background: #fff;
  border: solid 0.02133rem #ebebeb;
  border-radius: 0.064rem;
  box-shadow: 0 0.02133rem 0.04267rem #bebebe;
}

.answerer-wrp
.answerer .avatar {
  -webkit-flex: 1;
          flex: 1;
  width: 1.92rem;
  height: 1.92rem;
}

.answerer-wrp
.answerer .avatar img,
.answerer-wrp
.answerer .avatar image {
  display: inline-block;
  width: 1.92rem;
  height: 1.92rem;
  border-radius: 1.92rem;
}

.answerer-wrp
.answerer .answerer-info {
  -webkit-flex: 5;
          flex: 5;
  text-align: left;
  padding: 0.21333rem 0.42667rem;
  line-height: 0.81067rem;
}

.answerer-wrp
.answerer .answerer-info text,
.answerer-wrp
.answerer .answerer-info span {
  display: block;
}

.answerer-wrp
.answerer .answerer-info .answerer-name {
  font-size: 0.68267rem;
}

.answerer-wrp
.answerer .answerer-info .answerer-des {
  font-size: 0.46933rem;
  color: #808080;
  line-height: 0.59733rem;
}

.answerer-wrp
.answerer .answerer-info .answerer-des {
  font-size: 0.46933rem;
  color: #808080;
  line-height: 0.59733rem;
}

.answerer-wrp
.answerer .follow {
  -webkit-flex: 2;
          flex: 2;
  padding: 0.32rem 0;
  font-size: 0.46933rem;
}

.answerer-wrp
.answerer .follow span,
.answerer-wrp
.answerer .follow text {
  display: inline-block;
  padding: 0.32rem 0.42667rem;
  color: #40bcd0;
  border: solid 0.04267rem #40bcd0;
  border-radius: 0.128rem;
}

.answer-content {
  padding: 0.64rem 0.85333rem;
  background: #ffffff;
}

.answer-content text,
.answer-content span {
  font-size: 0.68267rem;
  color: #454545;
  line-height: 0.93867rem;
}

.answer-content image,
.answer-content img {
  width: 100%;
  margin: 0.42667rem 0;
}

.answer-footer {
  position: fixed;
  bottom: 0;
  height: 1.49333rem;
  border-top: solid 0.02133rem #ebebeb;
  background: #ffffff;
  width: 14.29333rem;
  padding: 0.42667rem 0.85333rem;
}

.answer-footer .good {
  -webkit-flex: 1;
          flex: 1;
  height: 0.85333rem;
  border: solid 0.02133rem #d1d1d1;
  border-radius: 0.064rem;
  padding: 0.21333rem 0.17067rem;
  margin: 0.21333rem 0;
}

.answer-footer .good .good-bad {
  display: inline-block;
}

.answer-footer .good image,
.answer-footer .good img {
  display: inline-block;
  width: 0.81067rem;
  height: 0.81067rem;
  vertical-align: middle;
}

.answer-footer .good .good-num {
  display: inline-block;
  padding: 0.21333rem 0.08533rem;
}

.answer-footer .operation-wrp {
  -webkit-flex: 5;
          flex: 5;
}

.answer-footer .operation {
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0 0 0 1.28rem;
}

.answer-footer .operation image,
.answer-footer .operation img {
  display: block;
  margin: 0 auto;
  width: 1.06667rem;
  height: 1.06667rem;
}

.answer-footer .operation-btn {
  -webkit-flex: 1;
          flex: 1;
  text-align: center;
}

.answer-footer .operation-btn text,
.answer-footer .operation-btn span {
  display: block;
  font-size: 0.29867rem;
  color: #bebebe;
}
.answer-feed {
  padding: 0;
  font-size: 0.29867rem;
  background: #F0F4F3;
  color: #000;
}

.question-wrp {
  border-radius: 0.064rem;
  box-shadow: 0 0.02133rem 0.04267rem #bebebe;
}

.question-item {
  width: 15.14667rem;
  padding: 0.85333rem 0.42667rem 0.21333rem;
  background: #fff;
}

.question-item .que-tag .tag {
  height: 0.59733rem;
  padding: 0.32rem 0.42667rem;
  border-radius: 0.59733rem;
  margin: 0 0.21333rem;
  background: #EEF5F8;
  color: #2186E0;
  font-size: 0.59733rem;
  vertical-align: middle;
}

.question-item .que-title {
  padding: 0.85333rem 0.42667rem 0.64rem;
  font-size: 0.81067rem;
}

.question-item .que-content {
  padding: 0 0.42667rem;
  font-size: 0.55467rem;
}

.question-item .que-follow {
  margin: 0.42667rem;
  height: 1.45067rem;
}

.question-item .que-follow view,
.question-item .que-follow div,
.question-item .que-follow span {
  display: inline-block;
  margin: 0 0.85333rem 0 0;
}

.question-item .que-follow image,
.question-item .que-follow img {
  width: 1.06667rem;
  height: 1.06667rem;
  margin: 0 0.21333rem 0 0;
  vertical-align: middle;
}

.question-item .que-follow .left {
  float: left;
  padding: 0.21333rem 0;
}

.question-item .que-follow .left text,
.question-item .que-follow .left div,
.question-item .que-follow .left span {
  color: #AFAFAF;
  height: 1.06667rem;
  vertical-align: middle;
  padding: 0.384rem 0;
  font-size: 0.512rem;
}

.question-item .que-follow .right {
  float: right;
  padding: 0.42667rem 1.17333rem;
  color: #ffffff;
  background: #52C980;
  border-radius: 0.064rem;
  font-size: 0.55467rem;
  margin: 0;
}

.que-operate {
  width: 16rem;
  border-top: solid 0.02133rem #ebebeb;
  border-bottom: solid 0.02133rem #ebebeb;
  color: #889091;
  vertical-align: middle;
  background: #ffffff;
}

.que-operate .flex-item {
  padding: 0.42667rem 0;
  font-size: 0.55467rem;
}

.que-operate .invite {
  border-right: solid 0.04267rem #ebebeb;
}

.que-operate image,
.que-operate img {
  width: 1.06667rem;
  height: 1.06667rem;
  vertical-align: middle;
  margin: 0 0.42667rem 0 0;
}
